[Unit]
Description=Magiclip service daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=walker
ExecStart=%h/.cargo/bin/magiclipd

[Install]
WantedBy=multi-user.target
