[Unit]
Description=Magiclip service daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=%u
Environment=RUST_LOG=debug
ExecStart=/usr/bin/magiclipd

[Install]
WantedBy=multi-user.target
